# ~/.gitconfig
[core]
  autocrlf = input
  pager = delta --hyperlinks
  excludesFile = ~/.gitignore-global

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[init]
  defaultBranch = main

[alias]
  pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"

[commit]
  gpgsign = true

[include]
  path = .gitconfig-personal

[includeIf "gitdir:~/Documents/Uni/"]
  path = .gitconfig-uni
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
