[ids]
*

[main]
shift = oneshot(shift)
meta = oneshot(meta)
control = oneshot(control)

leftalt = oneshot(alt)
rightalt = oneshot(altgr)

capslock = overload(control, esc)
insert = S-insert

#capslock = enter
#compose = layer(dia)

[dia]
n = macro(compose n ~)
N = macro(compose N ~)
